
/*
*{
	border: 1px solid red;
}*/

header{
	background-color: gold; 
	position: fixed;
	width:100%;
	top:0;
}


.card_wrap{
	border: 1px solid grey;
	margin: 100px;
}


.card-image{
	width: 100%;
	border:1px solid grey;
}